
@{
    ViewBag.Title = "Detail";
}

<div class="detailContainer">
	<h2>Detail</h2>
	
	<div>
		<img src="#" alt="Alternate Text" />
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
	</div>

</div>


