@{
    ViewBag.Title = "Home Page";
}

<div class="homeContainer">
    <div class="hero">

        <div class="homeVideo">
            <video autoplay loop class="indexVideo">
                <source defaultPlaybackRate=0.5 src="~/Content/img/862017385.mp4" class="indexVideo" type="video/mp4" />
            </video>
        </div>

        <script>
            var vid = document.getElementsByTagName("source");
            vid.playbackRate = 0.5;
        </script>



        <div class="heroOverlay">

            <h1 class="titleRouta">ROUTA</h1>
            @Html.Partial("_LoginPartial")
            <p class="scroll">Route Your Life...</p>
        </div>
    </div>



</div>


