@{
    ViewBag.Title = "Home Page";
}

<div class="homeContainer">
    <div class="hero">
        @*<img class="heroImg" src="~/Content/img/herocropped.jpeg" />*@

        <video controls="controls" autoplay loop>
            <source src="~/Content/img/862017385.mp4" type="video/mp4" />
        </video>

        <div class="heroOverlay">
            <h1>ROUTA</h1>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>


