@{
    ViewBag.Title = "Home Page";
}

<header>
	<a href="@Url.Action("LoggedInIndex", "Home")"><i class="fa fa-map-marker" aria-hidden="true"><span id="title" style="font-family: 'Rock Salt', cursive"> CITY TOURS </span></i></a>
</header>


<div class="geolocation">
	<p>Click the button to get your coordinates.</p>

	<button onclick="getLocation()">Try It</button>

	<p id="demo"></p>

	<script>
		var x = document.getElementById("demo");

		function getLocation() {
			if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(showPosition);
			} else {
				x.innerHTML = "Geolocation is not supported by this browser.";
			}
		}

		function showPosition(position) {
			x.innerHTML = "Latitude: " + position.coords.latitude +
				"<br>Longitude: " + position.coords.longitude;
		}
	</script>
</div>

<div class="container">
	<img class="hero" src="" />
	@Html.Partial("_LoginPartial")

	
</div>

@*Maybe underneath the buttons, we can add most popular 
  locations or last places that were visited...*@