@{
    ViewBag.Title = "Home Page";
}

@*<header>
	<a href="@Url.Action("Index", "Home")"><i class="fa fa-map-marker" aria-hidden="true"><span id="title" style="font-family: 'Rock Salt', cursive"> CITY TOURS </span></i></a>
</header>*@


@*<div class="geolocation">
	<p>Click the button to get your coordinates.</p>

	<button onclick="getLocation()">Try It</button>

	<p id="demo"></p>

	<script>
		var x = document.getElementById("demo");

		function getLocation() {
			if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(showPosition);
			} else {
				x.innerHTML = "Geolocation is not supported by this browser.";
			}
		}

		function showPosition(position) {
			x.innerHTML = "Latitude: " + position.coords.latitude +
				"<br>Longitude: " + position.coords.longitude;
		}
	</script>
</div>*@


<div class="homeContainer">
	<div class="hero">
		<img class="heroImg" src="~/Content/img/herocropped.jpeg" />
		<div class="heroOverlay">
			<h1>ROUTA</h1>
			@Html.Partial("_LoginPartial")
		</div>
	</div>
</div>
