@{
    ViewBag.Title = "Home Page";
}

<div class="homeContainer">
	<div class="hero">
		<img class="heroImg" src="~/Content/img/herocropped.jpeg" />
		<div class="heroOverlay">
			<h1>ROUTA</h1>
			@Html.Partial("_LoginPartial")
		</div>
	</div>
</div>
