@{
    ViewBag.Title = "Home Page";
}

<div class="container">
	<img class="hero" src="~/Content/img/hero.jpg" />
	@Html.Partial("_LoginPartial")
</div>

@*Maybe underneath the buttons, we can add most popular 
  locations or last places that were visited...*@