@{
    ViewBag.Title = "Search";
}

<newsearch></newsearch>


<button class="collapsible">+ ADVANCED SETTINGS</button>
<div class="content">

    <form action="#" method="get">
        <p>CATEGORY:</p>
        <select id="dropdown" name="category" size="4" multiple>
            <option value="airport">Airport</option>
            <option value="amusement_park">Amusement Park</option>
            <option value="aquarium">Aquarium</option>
            <option value="art_gallery">Art Gallery</option>
            <option value="bakery">Bakery</option>
            <option value="bank">Bank</option>
            <option value="bar">Bar</option>
            <option value="book_store">Book Store</option>
            <option value="bowling_alley">Bowling Alley</option>
            <option value="bus_station">Bus Station</option>
            <option value="cafe">Cafe</option>
            <option value="campground">Campground</option>
            <option value="casino">Casino</option>
            <option value="cemetery">Cemetery</option>
            <option value="church">Church</option>
            <option value="city_hall">City Hall</option>
            <option value="embassy">Embassy</option>
            <option value="fire_station">Fire Station</option>
            <option value="funeral_home">Funeral Home</option>
            <option value="gym">Gym</option>
            <option value="hindu_temple">Hindu Temple</option>
            <option value="jewelry_store">Jewelry Store</option>
            <option value="library">Library</option>
            <option value="lodging">Lodging</option>
            <option value="meal_takeaway">Meal Takeaway</option>
            <option value="mosque">Mosque</option>
            <option value="movie_theaher">Movie Theater</option>
            <option value="museum">Museum</option>
            <option value="night_club">Night Club</option>
            <option value="park">Park</option>
            <option value="post_office">Post Office</option>
            <option value="restaurant">Restaurant</option>
            <option value="school">School</option>
            <option value="shopping_mall">Shopping Mall</option>
            <option value="spa">Spa</option>
            <option value="stadium">Stadium</option>
            <option value="store">Store</option>
            <option value="subway_station">Subway Station</option>
            <option value="synagogue">Synagogue</option>
            <option value="train_station">Train Station</option>
            <option value="transit_station">Transit STation</option>
            <option value="zoo">Zoo</option>
        </select>
        <p>Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</p>
        <input id="openNow_Checkbox" type="checkbox" name="vehicle" value="Bike" checked="checked">OPEN NOW</br>
        <!-- <input id="proximity_Checkbox" type="checkbox" name="vehicle" value="Bike">PROXIMITY</br> -->
        <button type="submit" value="Filter">Filter</button>

    </form>
</div>


<newmap></newmap>
<newlist></newlist>



<!-- Reference the riot tags here -->
<script src="~/Content/newsearch.tag" type="riot/tag">
</script>
<script src="~/Content/newmap.tag" type="riot/tag">
</script>
<script src="~/Content/newlist.tag" type="riot/tag">
</script>

<script>
    let bus = {};

    riot.observable(bus); //makes it so our bus can send and receive messages
    // Mount the riot tags to the page here
    riot.mount('newsearch', { bus: bus });
    riot.mount('newmap', { bus: bus });
    riot.mount('newlist', { bus: bus });

</script>
