@{
	ViewBag.Title = "Search";
}


<div class="searchContainer">
	<header>
		<h1>ROUTA</h1>
	</header>

	<form action="/" method="post">
		<input type="number" name="radius" value="" />
		<button>Go!</button>
	</form>

	@*@foreach () {*@
		<div>
			<img src="#" alt="Alternate Text" />
			<h4></h4>
		</div>
	@*}*@
</div>
