@{
	ViewBag.Title = "Search";
}


<div class="searchContainer">
	<header>
		<h1>ROUTA</h1>
	</header>

	<places></places>

	<script src="~/Content/places.tag" type="riot/tag">
	</script>

	<script>
		riot.mount('places');
	</script>
</div>
