body {
    padding-top: 0;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    margin: 0 !important;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
    text-align: center;
}

span.field-validation-error {
    display: inline-block;
    position: relative;
    clear: right;
}

header, i {
    width: 30rem;
    display: grid;
    position: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
}

.home {
    color: black;
    text-decoration: none;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.cityscape {
    display: grid;
    position: center;
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
}

a#loginLink, a#registerLink, button#loginLink, a#anonLink,
button#registerLink, .loginSubmit, .registerSubmit, input.searchButton,
.removeButton, .saveButton, .createButton, .deleteButton, input.changePassword, .links {
    background-color: #000000;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    margin-top: 5px;
}

.links {
    display: inline-block;
    margin-top: 2em;
}

.pwMessage {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 30rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* The actual popup */
    .pwMessage .popuptext {
        visibility: hidden;
        font-size: 11px;
        width: 15rem;
        background-color: #555;
        color: #fff;
        text-align: left;
        border-radius: 6px;
        padding: 8px 2px;
        position: absolute;
        z-index: 1;
        top: 12rem;
        right: 7.5rem;
        /*bottom: 125%;
        left: 50%;*/
        margin-left: -80px;
    }

        /* Popup arrow */
        .pwMessage .popuptext::after {
            content: "";
            position: absolute;
            /*background-color: red;*/
            top: -0.55rem;
            left: 7.5rem;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
            transform: scaleY(-1);
        }

    /* Toggle this class - hide and show the popup */
    .pwMessage .show {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.indexButtons {
    width: 30rem;
    display: grid;
    position: center;
    margin-left: auto;
    margin-right: auto;
}



a#loginLink {
    display: grid;
    position: center;
    border: 1px solid white;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

    a#loginLink:hover {
        color: black;
        background: white;
        border: 1px solid black;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
    }

a#registerLink {
    display: grid;
    position: center;
    border: 1px solid white;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

    a#registerLink:hover {
        color: black;
        background: white;
        border: 1px solid black;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
    }

a#anonLink {
    display: grid;
    position: center;
    border: 1px solid white;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

    a#anonLink:hover {
        color: black;
        background: white;
        border: 1px solid black;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
    }

#Email, #Password, #ConfirmPassword, .searchBox, .filterButton, .itineraryName, .itineraryDate, #OldPassword, #NewPassword {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

ul.indexButtons a,
dd a {
    color: black;
    text-decoration: none;
    display: inline-block;
}

ul.indexButtons li {
    list-style: none;
}

    ul.indexButtons li a {
        color: white;
        padding-bottom: 1em;
    }

        ul.indexButtons li a.searchPage {
            border: 1px solid white;
            padding: .5em 1em;
        }
/* Home */

.scroll {
    font-size: 38px;
    color: gold;
    width: 280px;
    margin: 0 auto;
    margin-top: 45px;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: scroll 40s linear infinite;
}



/* Make it move */
@keyframes scroll {
    0% {
        text-indent: 10.5em
    }

    100% {
        text-indent: -105em
    }
}


div.homeContainer {
    background-color: black;
}



    div.homeContainer img.heroImg {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
        position: relative;
    }


    /*div.homeContainer div.homeVideo {
        -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
    }*/

        div.homeContainer div.homeVideo div.indexVideo {
            /*margin-top: -400px;*/
            top: -50%;
            left: -50%;
        }


    div.homeContainer div.heroOverlay {
        /*background-color: red;*/
        height: 120px;
        width: 500px;
        border: 3px solid darkslategrey;
        border-color: darkslategrey;
        border-top-color: white;
        border-bottom-color: #334a4b;
        animation-name: overlayAni;
        animation-duration: 5s;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 30%;
        /*padding: 2em;*/
    }

/* Standard syntax */
@keyframes overlayAni {
    from {
        border-color: darkslategrey;
        /*background-color: red;*/
    }

    to {
        /*border-color: black;*/
        border-top-color: white;
        border-bottom-color: #334a4b;
        /*background-color: yellow;*/
    }
}


div.homeContainer div.heroOverlay h1 {
    font-size: 6em;
    animation-name: textAni;
    animation-duration: 4s;
    color: white;
    margin-top: 0;
    vertical-align: text-top;
    margin-bottom: .4em;
}

/* Standard syntax */
@keyframes textAni {
    from {
        color: grey;
        /*background-color: red;*/
    }

    to {
        color: white;
        /*background-color: yellow;*/
    }
}


.titles {
    font-size: 4em;
}

/* Search */

div.searchContainer {
   float: left;
   display: inline-block;
   margin-left: 16em;
   margin-bottom: 1vh;
}
newsearch h1 {
    font-size: 8em;
    margin: .4em 0;
}
a.home h1{
    font-size: 8em;
    margin: .5em 0;
}



/*collapsable*/
.collapsible {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

    .active, .collapsible:hover {
        background-color: #555;
    }

.advanceSearch {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    margin: 0 auto;
    padding-bottom: 1.2em;
}

select.categories {
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 1em;
}



/* List */
div.landmark {
    width: 40vw;
    margin-left: 6.5em;
    position: relative;
}

.landmarkImg {
    display: inline-block;
    width: 18vw;
    height: auto;
    padding: 1em;
    margin-left: -0.5em;
}

.landmarkInfo {
    display: inline-block;
    width: 15vw;
    vertical-align: top;
    padding-bottom: 1em;
}

.googleLink {
    color: black
}

.landmarkName {
    font-size: 1.5em;
    font-weight: 700;
}

.breaker {
    border-color: black;
}

button.addButton {
    border-radius: 50%;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 16px;
    position: absolute;
    right: 0;
    right: 0;
    bottom: 5px;
    border-color: black;
}

/* Map */
newmap {

}

#map {
    height: 49vh;
    width: 40vw;
    margin-left: 6.5em;
    
}


/* Itinerary */
.itineraryTitle {
    color: black;
    /*text-decoration: none;*/
}

div.itineraryContainer {
    width: 38vw;
    display:inline-block;
    float: right;
   
}

input.itineraryDate {
    font-family: 'Montserrat', sans-serif;
}

div.itineraryList {
    width: 40vw;
    position: relative;
}

.breaker2 {
    width: 30rem;
}

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

    #sortable li {
        margin: 0 3px 3px 3px;
        padding: 0.4em;
        padding-left: 1.5em;
        font-size: 1.4em;
        height: 18px;
    }

        #sortable li span {
            position: absolute;
            margin-left: -1.3em;
        }

.hide {
    display: none;
}

#savedConfirm {
    border: #56c67c dashed 3px;
    width: 30%;
    padding: 1em 0;
    margin: 1em auto;
}
