@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

{
    "html_attributions": [],
    "next_page_token": "CpQCCQEAAMjzR1u1BN9dE4d828RDnKa2wIG-Jo_f_xrRsTBLL-HtMe02b0OKag-Fjvovprl9TSciYIMShX6R27fdzt-ZhIPKTMT2wnxQHAyNdMppjx7AQhBmzHGCz9gmciKstVC9n_bwa4-62fptJP2uzwYnMer_z3cTWZg93_gaZFwOdIuSGJLdOIQdljjkJNuSeE9KICVM_4NsnL9SG9jQQYSQIRnmNe3g8pKb-9odmnKqJTV2V-Reo8mRo11pqVl5ZkGVar-diN8TowJyDQYHi4dEE3PZXl3m8EjD2aRlotyTIjpE5hpTC7Vfw0pKUulNSyYab8Smoqvo-cWAs_P1qub9uIHIOPXMxjsXpsTqOr3gaMhgEhAMsl24O_aIgGFDcMyNyNiEGhR2YvorNUD5XC7Vn6l4sjnlYpHfMw",
    "results": [
        {
            "formatted_address": "700 W St Clair Ave, Cleveland, OH 44113, USA",
            "geometry": {
                "location": {
                    "lat": 41.4996753,
                    "lng": -81.69895679999999
                },
                "viewport": {
                    "northeast": {
                        "lat": 41.50092697989272,
                        "lng": -81.69752072010728
                    },
                    "southwest": {
                        "lat": 41.49822732010728,
                        "lng": -81.70022037989271
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
            "id": "c91e0309f787bfd03ff69cca9ca8e4d838cf0e47",
            "name": "Blue Point Grille",
            "opening_hours": {
                "open_now": true,
                "weekday_text": []
            },
            "photos": [
                {
                    "height": 1367,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/116195256138534407634/photos\">Blue Point Grille</a>"
                    ],
                    "photo_reference": "CmRaAAAAmJNoOh-t8U-HeRWgWt9YwAMphWxAZ5aEfueEw2EoIjlz7Q7SzBQA7HA_I6QjPtyZclfD4wEu9bkkE35EpvJxVe67Bo-FTrhghvwr4vwdlKWPCTnVD7Se9VJ2YwzxSO2CEhDa2nVkA28VkPa6yytvgllHGhRSkJCfoh6W0Ie1nCMvSRhnOpz4pA",
                    "width": 2048
                }
            ],
            "place_id": "ChIJwejCoX3wMIgR0FzkNYMYRIU",
            "price_level": 3,
            "rating": 4.6,
            "reference": "CmRbAAAAiNtsgBxyXaRxB9WbCOGWHOnUH3ahheP_7K28GjK-YOE2uhFF5XBxOHPTIswDVGvNbWBcUYHA52ndE-j8D_XJprwG1G1WT7Qs--4LPhQg6irPTAxSHDRljp9KZmGFE_U4EhCN3evqeFnIoclmOucPEuXUGhTCs0LhQvNVPFqRLxyi19QygnKPqA",
            "types": [
                "bar",
                "restaurant",
                "food",
                "point_of_interest",
                "establishment"
            ]
        },
        {
            "formatted_address": "1835 Fulton Rd, Cleveland, OH 44113, USA",
            "geometry": {
                "location": {
                    "lat": 41.4840199,
                    "lng": -81.70983219999999
                },
                "viewport": {
                    "northeast": {
                        "lat": 41.48536972989272,
                        "lng": -81.70848237010728
                    },
                    "southwest": {
                        "lat": 41.48267007010728,
                        "lng": -81.71118202989273
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
            "id": "0a63d5d14f3f54874e1242ae6f1913ac41aedc1c",
            "name": "Momocho",
            "opening_hours": {
                "open_now": false,
                "weekday_text": []
            },
            "photos": [
                {
                    "height": 2160,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/118220743029753306347/photos\">Mike S</a>"
                    ],
                    "photo_reference": "CmRaAAAAZbN-OuJOReO4RFCluITEzoZw0r5RDbA9TyADlOxg4VY_vIP7XpaFF65cc7ZE2YW4YPnWElUIR8Kdj9b_fRsASdi02z6h2q1MF7rpJYFtliDg_Ctwo21VFmxEXYUKU8uhEhDDqd1nmoUc2VyW6220M4fvGhT0GEFowt8C0lTI4AlCNXzjc1tcXg",
                    "width": 3840
                }
            ],
            "place_id": "ChIJwSwgB2vwMIgR4vw4Ee5V5Ao",
            "price_level": 2,
            "rating": 4.5,
            "reference": "CmRbAAAAILo08Juf8DTRpaZ3hO8GTm2aGCxCARNnzl4O0Iq7h7LDwbQGrLjZjS4BFzz26R-1eOQ7nmQdeiNZHaN1ouX4cfmq7t4rJEC2desfO8hD3-uG-hl-DaQFjMvAkoG4YThFEhDbnK5xslv5b1qTqY2w-p7-GhQ7eYhfkmL717Xqjw5WliXIxSi-jA",
            "types": [
                "restaurant",
                "food",
                "point_of_interest",
                "establishment"
            ]
        },
        {
            "formatted_address": "2247 Professor Ave Suite C, Cleveland, OH 44113, USA",
            "geometry": {
                "location": {
                    "lat": 41.481441,
                    "lng": -81.686196
                },
                "viewport": {
                    "northeast": {
                        "lat": 41.48272297989271,
                        "lng": -81.68496462010727
                    },
                    "southwest": {
                        "lat": 41.48002332010726,
                        "lng": -81.68766427989272
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
            "id": "e14c96f7c87086f482f1fa5dd60bffac85f1f97f",
            "name": "Dante",
            "opening_hours": {
                "open_now": false,
                "weekday_text": []
            },
            "photos": [
                {
                    "height": 396,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/111612056185664783118/photos\">Dante</a>"
                    ],
                    "photo_reference": "CmRaAAAAyNFLnAsbw001VtsqaKU-nLM7w5l2VL4xf7Am1je0Zvw25H8TIuQfysEuN6ZWzSkllbaABdExkqR8f46xoUXClVIZVfUHpmd0jXDtAvNL5jomdPh39LWr8lQbnMNSKrp0EhAaid2ZeuC1uTbi_MRwVd26GhQ2Sj9hSIew19Jz5Yy-eIa8_lVbYQ",
                    "width": 640
                }
            ],
            "place_id": "ChIJTVUrMZ_6MIgRiO3k0K14ScA",
            "price_level": 2,
            "rating": 4.6,
            "reference": "CmRbAAAAkamQ9UN_Gc3u9_K9TkYyG8rTXUbU1av5F5R2X6qXPzE120L_tIiiGfcx31SFB1otWlQFBsKL6M8ZVCikji-BX7fP9R50DVz9FS33uKaFJqCswQc7tSrdLf5n_xnTCR8XEhCyPVIQ65oO5YwrRBtjY4KBGhQIPcLNLvMcSEVwKTYtNpMi949E3A",
            "types": [
                "bar",
                "restaurant",
                "food",
                "point_of_interest",
                "establishment"
            ]
        },
        {
            "formatted_address": "12200 Mayfield Rd, Cleveland, OH 44106, USA",
            "geometry": {
                "location": {
                    "lat": 41.5085071,
                    "lng": -81.5978056
                },
                "viewport": {
                    "northeast": {
                        "lat": 41.50992487989272,
                        "lng": -81.59645577010727
                    },
                    "southwest": {
                        "lat": 41.50722522010728,
                        "lng": -81.59915542989272
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
            "id": "7046114e1002df7daa5d94678990e42b3a611bb5",
            "name": "Mia Bella Restaurant",
            "opening_hours": {
                "open_now": false,
                "weekday_text": []
            },
            "photos": [
                {
                    "height": 4128,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/101483727700598368135/photos\">Aaron Schlea</a>"
                    ],
                    "photo_reference": "CmRaAAAAUK6XENue1kgMCZHwjTWgWcoM9bmUCbY87Wyry5jcYQIqge7Im4lTYuZN45hwPwmp8hCPEJlN6yvzYcsmPrg06zIXr_EpE8T1eLhnmoa0bDqyvfVRkJIfYDxDO359Qjy4EhDX3f5GZ1Ctbl09rPjIY0AFGhSIrEvhqR7An6B7XVTsP_KkCmhqPg",
                    "width": 3096
                }
            ],
            "place_id": "ChIJqy7N-HP8MIgRE0Kd1kbWvBs",
            "price_level": 2,
            "rating": 4.5,
            "reference": "CmRbAAAA2lHjypcMx3ofLQ4jJ87pucm9Hh0X0j2UvYtvZPtESb49Y5t_iW1_NzNqYkZRpxYGIhSnWneQ3F0TsdoO1RWwhrBS6MtORuBaAV2krzO7nTPq5eZ6iWQTpBzMcPANJrmDEhCRHXoj7N5G4io2NjRfSMspGhSHt_9Ay3TVhAOuMj--Qyt4DreBmg",
            "types": [
                "restaurant",
                "food",
                "point_of_interest",
                "establishment"
            ]
        },
        {
            "formatted_address": "2417 Professor Ave, Cleveland, OH 44113, USA",
            "geometry": {
                "location": {
                    "lat": 41.4797274,
                    "lng": -81.68450849999999
                },
                "viewport": {
                    "northeast": {
                        "lat": 41.48102197989272,
                        "lng": -81.68325397010727
                    },
                    "southwest": {
                        "lat": 41.47832232010728,
                        "lng": -81.68595362989272
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
            "id": "2146073872f85c4d9d723079861707f7e2abadd2",
            "name": "Fahrenheit",
            "opening_hours": {
                "open_now": false,
                "weekday_text": []
            },
            "photos": [
                {
                    "height": 2988,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/112025828749563306985/photos\">w8lftr76</a>"
                    ],
                    "photo_reference": "CmRaAAAARDj1Or5eBN09CBYaAijtXWPKRFuMzKHaNrm_vzwdRGEA_qx8hN4RQEFAy3rhUDH85HNV4HYlKHjX_qRcz9OQmYlHauZbad2QYHCs0MZ_EZedpy29FAQEn2qAYBvuV-MrEhBnMqN101VBONtl_x6DGNIyGhRUdEUlzz-nusdHy_KGOBkLrnutgw",
                    "width": 5312
                }
            ],
            "place_id": "ChIJy3rgCqL6MIgReVAohuTMyAU",
            "price_level": 2,
            "rating": 4.3,
            "reference": "CmRbAAAA4ArfFlWiMnB78q2LQV6E8H-RQmfNi2o4gzO6c0mj69U6hVVR3wYHi7DhapIhp0W95DR7Tz0SrQ5boXTI3rpGSuqoFmzusGzz3IXYorPARMZETuptZOcuZkmJdcyai0lHEhDU20rdS4-JyP3rKbbXvX6oGhS94qfpg_lGf16sW8cS3WxKVPNaRg",
            "types": [
                "restaurant",
                "food",
                "point_of_interest",
                "establishment"
            ]
        },
        {
            "formatted_address": "1325 E 6th St, Cleveland, OH 44114, USA",
            "geometry": {
                "location": {
                    "lat": 41.5033247,
                    "lng": -81.69172879999999
                },
                "viewport": {
                    "northeast": {
                        "lat": 41.50461517989272,
                        "lng": -81.69049787010728
                    },
                    "southwest": {
                        "lat": 41.50191552010727,
                        "lng": -81.69319752989273
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
            "id": "192bdc19c043335a4d8dde2686810bbb5c133ce5",
            "name": "Urban Farmer Cleveland's Steakhouse",
            "opening_hours": {
                "open_now": true,
                "weekday_text": []
            },
            "photos": [
                {
                    "height": 1365,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/106475306876778970739/photos\">Urban Farmer Cleveland&#39;s Steakhouse</a>"
                    ],
                    "photo_reference": "CmRaAAAAj8816xh12y_ZKTKUNZra2JVNOt7cAJcxH2X84wlShh3h02gO6w6g4BYoZsRkEgmCUhGr37ua_cheG3PNvIDcZeCZapNLDsbPEHbWFLgYSBGJLZR-gVDLbWrtLk2iluxbEhD1MYZhXH1mT4LVxkrr9v6rGhQYekmsw2AbFLdkeEICRoIPNkPMFw",
                    "width": 2048
                }
            ],
            "place_id": "ChIJX9Zmz4HwMIgRVrCb6T0xCDg",
            "rating": 4.1,
            "reference": "CmRbAAAAdiu32zwqLaFD3vj21CSS8iTF9U0S5BJ-SlQ9YPeBjCoZMT60_nGeFewflYyxqKxHKnfRpO3XD03z_mgsdBLGZLSPVIXK2Nwivjsb2_OZMeUQawFM7YDvLxEvuUJlvJ4BEhDswVOScogbm28VTofZGoXkGhSm59R83iqEEzX25GdRbuKs1F1s9Q",
            "types": [
                "restaurant",
                "food",
                "point_of_interest",
                "establishment"
            ]
        },
        {
            "formatted_address": "1201 University Rd, Cleveland, OH 44113, USA",
            "geometry": {
                "location": {
                    "lat": 41.4847646,
                    "lng": -81.6901312
                },
                "viewport": {
                    "northeast": {
                        "lat": 41.48604292989273,
                        "lng": -81.68868852010728
                    },
                    "southwest": {
                        "lat": 41.48334327010728,
                        "lng": -81.69138817989273
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
            "id": "66bd50695082b772ca14bfa86dd11684ea2d52e2",
            "name": "Sokolowski's University Inn",
            "opening_hours": {
                "open_now": true,
                "weekday_text": []
            },
            "photos": [
                {
                    "height": 608,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/100770468025419225486/photos\">Sokolowski&#39;s University Inn</a>"
                    ],
                    "photo_reference": "CmRaAAAAURZo_yQZyDiVfc2FoG1ZzvcdDXJ0SrXiceSD775rQ0ApRTvPaFqyg4SwGO61UQPoi1ivyg-LG3SHCHvUyTIY6N_e3Dfk5pgm8XuCXDq2ZvaZmbp_CnedccheRAB9u0qZEhBOT2tQkiE5fXjm6ByixRekGhSD9QzbozxUYaRqDV-Iy_SaBWNNSQ",
                    "width": 1080
                }
            ],
            "place_id": "ChIJP3bCDp76MIgRGMVGFoWgOMY",
            "price_level": 2,
            "rating": 4.7,
            "reference": "CmRbAAAAeoXGYDa6H4kap1rX74xujlipb8k-KmbeNKdApvWdECPZwOaohJLBz9aHT9nWidARyqzJS5h9OEaGansMte_1vvvxJUQ_gMH6iuFAGKCc-ki5iCLZgsC6OzcGt8830pi2EhCPoAcI1oBvrqHrDgvc4Q6WGhQHRWU3UtA1HjNQD4vRIXsCw4qTVA",
            "types": [
                "bar",
                "restaurant",
                "food",
                "point_of_interest",
                "establishment"
            ]
        },
        {
            "formatted_address": "2537 Lorain Ave, Cleveland, OH 44113, USA",
            "geometry": {
                "location": {
                    "lat": 41.4837964,
                    "lng": -81.70383609999999
                },
                "viewport": {
                    "northeast": {
                        "lat": 41.48521157989271,
                        "lng": -81.70253687010728
                    },
                    "southwest": {
                        "lat": 41.48251192010727,
                        "lng": -81.70523652989273
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
            "id": "667309e888ddad2f8b71cedcb35feae3e5ccea1c",
            "name": "Crop Bistro & Bar",
            "opening_hours": {
                "open_now": true,
                "weekday_text": []
            },
            "photos": [
                {
                    "height": 3464,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/107808724955792128214/photos\">A Google User</a>"
                    ],
                    "photo_reference": "CmRaAAAACBjnPJl_NYXRidYboRJMjAv-VIoUccLSAGvKMbOv6wkG9odSp2lYbOtsL426FlbRPnSah1FelTmhm_TeEVQFEQDIjbfeJK8wSd4dy9jHEXuN_3V8dBiJ18esfaDwATd4EhBVmaa4EqGFoqzGd7_OhDmiGhSEwG9wmtXM6GEQcun5F8_HhV4R7g",
                    "width": 4618
                }
            ],
            "place_id": "ChIJlYkOt33wMIgRvrOcG1AgH14",
            "price_level": 2,
            "rating": 4.3,
            "reference": "CmRbAAAAJmUwtNwmgTLRsDZ0-c0T058kBpSn11rjFoYWQPtwh_QFD-ZmMSBmfEx_g1UkzwuMmFKokE_jyisQVmfvFyb-ooTNERUEOovjFcB6_5rQZMWTE1GY8jRpGJa5THmgMGyTEhAIRv-ke4s9PBV6NYwXuUloGhTewaiDSC8BPfE1iXotktX2W6s0_g",
            "types": [
                "bar",
                "restaurant",
                "food",
                "point_of_interest",
                "establishment"
            ]
        },
        {
            "formatted_address": "1909 W 25th St, Cleveland, OH 44113, USA",
            "geometry": {
                "location": {
                    "lat": 41.485492,
                    "lng": -81.703914
                },
                "viewport": {
                    "northeast": {
                        "lat": 41.48676007989273,
                        "lng": -81.70274502010729
                    },
                    "southwest": {
                        "lat": 41.48406042010728,
                        "lng": -81.70544467989272
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
            "id": "6a939d60cc7e19c14914beb37930a39ec08f40c3",
            "name": "TownHall",
            "opening_hours": {
                "open_now": true,
                "weekday_text": []
            },
            "photos": [
                {
                    "height": 1395,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/115760736504910977072/photos\">TownHall</a>"
                    ],
                    "photo_reference": "CmRaAAAAGNSjtAO74GbQe7GpMUoz97ih3V6fvNwDM9rwtpYoDs5fU5KBWwVwgEjVFFDYyI0Bya7QuBq8QF1n-mzOhYNx1Xry6kHBpEZvLwQpEhO_mBLm4GkzfqteIoDmq9-Q7DJ3EhDKMsWn7WzeSp2GOMwULVLrGhRC2lB0tyxYqCGH7xASHNAft98vCA",
                    "width": 2480
                }
            ],
            "place_id": "ChIJt1HyxG3wMIgR8crgUncealE",
            "price_level": 2,
            "rating": 4.4,
            "reference": "CmRbAAAAzIZh0SKyHiHDmddp9fcA6R7e2QTXgWJdMl5xIvoIzsFE9xznO5ye85iVtdJdFK9O5UXM5Pp0yR2gdj18SqWG3ppBwX_3L9i0aa5jUh4DKNi9-pSSYcKI415olwmd9ecBEhC5gBO4HADGyL-nI4NE0nQCGhSCyn74C91r7sJkzuKlvTxZjIOccw",
            "types": [
                "cafe",
                "bar",
                "store",
                "restaurant",
                "food",
                "point_of_interest",
                "establishment"
            ]
        },
        {
            "formatted_address": "2100 Superior Viaduct, Cleveland, OH 44113, USA",
            "geometry": {
                "location": {
                    "lat": 41.4943222,
                    "lng": -81.7049749
                },
                "viewport": {
                    "northeast": {
                        "lat": 41.49562117989272,
                        "lng": -81.70349702010728
                    },
                    "southwest": {
                        "lat": 41.49292152010728,
                        "lng": -81.70619667989273
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
            "id": "0451a46ec7ad28ffb0d58c68b58ee8d2f72bf80c",
            "name": "Luca Italian Cuisine",
            "opening_hours": {
                "open_now": false,
                "weekday_text": []
            },
            "photos": [
                {
                    "height": 3024,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/105584101897109459762/photos\">Alex Lai</a>"
                    ],
                    "photo_reference": "CmRaAAAAn2SEbIWkrf_-LtdJRLxxcetl4NBYu0iFRJ1NMBNUNHKSBSn2SGn8NMBF0FY0GSpO_sZOcjHxmKzPwZpO_MTm__7SeFMOAKO4S8IJuIWApuH2qA50xMo-HPaw7tk_Rzp9EhAUVj0QHhROx81RMLCgNsphGhTky4eG7bUt6EhNxcwOWUnxqdKZcw",
                    "width": 4032
                }
            ],
            "place_id": "ChIJcwjf82TwMIgRWzHSNH2p-ig",
            "rating": 4.6,
            "reference": "CmRbAAAAyMiq5Wr29F3VmxaBMqeiNW5XtmePm8JMOiXE7friBCnvL1zqTBxG6ovuYNIlK1UdeF1nIXEYe6UB0kppqo-hr5mR4ijM89iaeafu6iWEOPUP-QiC23VIAOnHRvvVp_e3EhDotI6MXJ1_prZWSTq2UkNsGhSTX_SJRlT_ZKvRuky6w10DQHDP-w",
            "types": [
                "bar",
                "restaurant",
                "food",
                "point_of_interest",
                "establishment"
            ]
        },
        {
            "formatted_address": "2017 E 9th St, Cleveland, OH 44115, USA",
            "geometry": {
                "location": {
                    "lat": 41.4998867,
                    "lng": -81.6859458
                },
                "viewport": {
                    "northeast": {
                        "lat": 41.50115212989273,
                        "lng": -81.68476257010728
                    },
                    "southwest": {
                        "lat": 41.49845247010729,
                        "lng": -81.68746222989273
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
            "id": "96aaac387a6cbd6ef3e7f050257bd27812221be3",
            "name": "Adega",
            "opening_hours": {
                "open_now": true,
                "weekday_text": []
            },
            "photos": [
                {
                    "height": 367,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/110374868508760438875/photos\">A Google User</a>"
                    ],
                    "photo_reference": "CmRaAAAADWwsLT8sc4Wani78Vldz-0qln8MzPbdg0o2ZTTekD3_FMAdQ17-772Etmsw3L-6LlQCPXA3q1hVbXznhhwEX-9eHlONfiDBadade7IvZUgM9YVYOUGfPMRiWTPOti9fJEhDR54i5iVH0hmSuA8hS67kAGhQq8fOKDE0O3kt4_eSOcPMO1NuZ7A",
                    "width": 550
                }
            ],
            "place_id": "ChIJE6DsqoD6MIgRis3ouT-rMtY",
            "rating": 4.3,
            "reference": "CmRbAAAA86odfzr3iINclAo1VKiYpwEoWfdFb6AdSZaaiTdEYsdDjcX5yzc7P7ivm9Tvo7gC9DcCbfUzRT9eVuYYSJCno1FPWGoYpqSA0WTTyzsx7u-KkVRJcuq9hTEMf_Jm7WfHEhCby6gIR1O6-EnNoApkwwsMGhSUxfd3L5fd-LIs-2b35QizmE4TRA",
            "types": [
                "restaurant",
                "food",
                "point_of_interest",
                "establishment"
            ]
        },
        {
            "formatted_address": "2050 E 4th St, Cleveland, OH 44115, USA",
            "geometry": {
                "location": {
                    "lat": 41.498998,
                    "lng": -81.690348
                },
                "viewport": {
                    "northeast": {
                        "lat": 41.50036222989272,
                        "lng": -81.68889912010727
                    },
                    "southwest": {
                        "lat": 41.49766257010727,
                        "lng": -81.69159877989271
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
            "id": "1409ef41d78e0ff1a2fc9dac7ccfa83a21c6a5af",
            "name": "Mabel's BBQ",
            "opening_hours": {
                "open_now": true,
                "weekday_text": []
            },
            "photos": [
                {
                    "height": 3024,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/109535819306702608323/photos\">Lois Hultgren</a>"
                    ],
                    "photo_reference": "CmRaAAAA5cEC08fcMwVJ5EU0DVfxh1uZRH9v5DyVdWK2VihNGsqjXzMhw3vIXlgsOFbho91GNZO0nxDlSD94O2lmmWrMmA6s-FfhEwIUq0QJDRRNvf7LOf1mRJijn619sWWZ55puEhDcgIuN6imDOPLG1XDNtnyxGhR69nBXx0woxxuz0jt6duReSAWGDg",
                    "width": 4032
                }
            ],
            "place_id": "ChIJxyl0FoD6MIgRnbT7H1XUxrk",
            "price_level": 2,
            "rating": 4.1,
            "reference": "CmRbAAAAJpKM86hqkFruoWlkydRVqnTEk3F5h61bPjkcpwU0-tYMPGh4iTZI-yvtGHmbcnW9EpefgXv5Fx84csgIzsVzxO2sBLInx3vxkBcGFOHx7u3huVfMUMfG0zsQaoTH-M49EhArk88ZLhlMOTYDs48qxppvGhQrbPOgF7JRUpsV9oFiwvzDJC5xfQ",
            "types": [
                "restaurant",
                "food",
                "point_of_interest",
                "establishment"
            ]
        },
        {
            "formatted_address": "1889 W 25th St, Cleveland, OH 44113, USA",
            "geometry": {
                "location": {
                    "lat": 41.485653,
                    "lng": -81.704255
                },
                "viewport": {
                    "northeast": {
                        "lat": 41.48695612989273,
                        "lng": -81.70300852010728
                    },
                    "southwest": {
                        "lat": 41.48425647010728,
                        "lng": -81.70570817989271
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
            "id": "f809defedaaf0efc3c16f84d8af2ad4143dacd91",
            "name": "SOHO Chicken + Whiskey",
            "opening_hours": {
                "open_now": false,
                "weekday_text": []
            },
            "photos": [
                {
                    "height": 2988,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/109827491365404529342/photos\">william booker</a>"
                    ],
                    "photo_reference": "CmRaAAAAlSRvQjXN3PtC-qPhTMsXFik4E_5Z2MSCvVpdV7VVXyyKa4AHRh2D1ybHcQzSpJAOz3OybIbh9rixSMsQvNMYw_9bldUH-2HYQlEOCPvCAMMOchtgt2N9uVVo0Kgd_hJrEhCtnkGkE4X1g35oFA5TRhFBGhQMB13Y6l2HPvRQoi-d4QWLe4la5A",
                    "width": 5312
                }
            ],
            "place_id": "ChIJ_-8vzm3wMIgRqmvTkJ0nMA8",
            "price_level": 2,
            "rating": 4.7,
            "reference": "CmRbAAAAMSjNWztavNMLCL3ItlB0cuASFjo1DY9LRvQpF7zivQ-TJOKe_FVHiIdarPUs0AwShUd3NCBIu-33AfxGqBr7vAQv1T8rBjUxn5YyYWMrBp5sIM2fb7b1q6F0tfLDrbWYEhD9gXqIAfgHc_YvknalNAXVGhSLCj6e4bbN1gP9oP-Q4ywcYeAX2g",
            "types": [
                "bar",
                "restaurant",
                "food",
                "point_of_interest",
                "establishment"
            ]
        },
        {
            "formatted_address": "2393 Professor Ave, Cleveland, OH 44113, USA",
            "geometry": {
                "location": {
                    "lat": 41.479992,
                    "lng": -81.6846833
                },
                "viewport": {
                    "northeast": {
                        "lat": 41.48126872989272,
                        "lng": -81.68345957010727
                    },
                    "southwest": {
                        "lat": 41.47856907010728,
                        "lng": -81.68615922989272
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
            "id": "066114d8caceb5b26c5bd37869d2216fb5077c59",
            "name": "The Bourbon Street Barrel Room",
            "opening_hours": {
                "open_now": false,
                "weekday_text": []
            },
            "photos": [
                {
                    "height": 3024,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/109706710916585844041/photos\">Richard Kramer</a>"
                    ],
                    "photo_reference": "CmRaAAAAg3EgXpja7Y-6ldzmZ8-3f6N33owHzTcZp5L82z9W27yNHHIpNpzfji52H-C5rnJYn-4gXbnWm6C5Lxv3bSw-NKN1aqecq0Y5VnFUtxH-_FEFaW9THjH0DrrSIo_MmBr2EhBX9bKORZLpX4JctpvS2iv2GhTFkBQH5Wkk40A0dx6FER2nqPqh1g",
                    "width": 4032
                }
            ],
            "place_id": "ChIJwdkxp5j6MIgRyNppK2Fc7aA",
            "rating": 4.4,
            "reference": "CmRbAAAABI_wQyEpAdI-TpUtanzZkMSJR25-8NSDCx0RkgUqb2gT-4t32gPOLAGvnXgHs8_GzRqsVKJkapOHYPPXMu4rOn4QWEAkghVn7x3QjccaE0VweihfujITxq6j9XspAwfjEhDRGtcWgckjbgCFmD3BiB5PGhR4ZopHedZKI70Jzc0wWq2LOPwXXA",
            "types": [
                "restaurant",
                "food",
                "point_of_interest",
                "establishment"
            ]
        },
        {
            "formatted_address": "11919 Mayfield Rd, Cleveland, OH 44106, USA",
            "geometry": {
                "location": {
                    "lat": 41.508797,
                    "lng": -81.5995009
                },
                "viewport": {
                    "northeast": {
                        "lat": 41.51006942989272,
                        "lng": -81.59815037010728
                    },
                    "southwest": {
                        "lat": 41.50736977010728,
                        "lng": -81.60085002989273
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
            "id": "ad0cc388f589bb001902ba8fabe9a2ebdfe51fc2",
            "name": "Etna",
            "opening_hours": {
                "open_now": false,
                "weekday_text": []
            },
            "photos": [
                {
                    "height": 3024,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/102450737740932401244/photos\">Jean Marie Villacampa</a>"
                    ],
                    "photo_reference": "CmRaAAAAMDdUIeojy2g1VT741ZWZ1-0er9gNUPV_cD29yINSuyvUJONqE98CEFWtfBlMUNsKGNavKaKIa-1MNEXYR2W-EGiF26bhoYBFXKzN1pE74idEL7LVsydU2K_BfsEo-AcrEhCqHW42EH7oKOnqyHIyCZJCGhRwdqcA4Gte23DVZHl7vaYhFmiHlQ",
                    "width": 4032
                }
            ],
            "place_id": "ChIJZ-hqInT8MIgRwbK3ertkMyI",
            "price_level": 2,
            "rating": 4.6,
            "reference": "CmRbAAAA3uhwwggZvEISKVOjrVr9cilNZ2GrGXfMQ3Bb95iwvjakZtiNJxdGY0uCKNi1N2hIYQxX4ovbJELikfWsT2ga1H_qcuwE_tt_IY-lIfx3TUIpfW3ptQX11N5hCOBfUibSEhAHLGoCx8Nyz8z4peeOiigJGhQweLs3oV6yPBX46sYvkpuEaK1EkA",
            "types": [
                "restaurant",
                "food",
                "point_of_interest",
                "establishment"
            ]
        },
        {
            "formatted_address": "824 W St Clair Ave, Cleveland, OH 44113, USA",
            "geometry": {
                "location": {
                    "lat": 41.4994315,
                    "lng": -81.6993047
                },
                "viewport": {
                    "northeast": {
                        "lat": 41.50070842989273,
                        "lng": -81.69789082010728
                    },
                    "southwest": {
                        "lat": 41.49800877010728,
                        "lng": -81.70059047989272
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
            "id": "60e4d41d5890944eb6f3631dbdff86143a677f6b",
            "name": "Cleveland Chop",
            "opening_hours": {
                "open_now": true,
                "weekday_text": []
            },
            "photos": [
                {
                    "height": 600,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/113623199289511097435/photos\">Cleveland Chop</a>"
                    ],
                    "photo_reference": "CmRaAAAAX5AEpY9CmJoOXzpUTxTpp2ZNmJijR8Flzt-lO8UsN3xFnFsawwcpLo45WiVo8H8eVV-UQ9OpT2blNIM6tIb8rvZnVt6d0pL9PHOoAtKPHkvqNz72TFMmzgd0U4i9rwBAEhDj62hOlNiuzQn4libY_CsRGhR56miaN4bHdXS5WWeJEnHEe61FIg",
                    "width": 900
                }
            ],
            "place_id": "ChIJY3OJoH3wMIgRRCNcayigGxE",
            "rating": 4.4,
            "reference": "CmRbAAAA0fX6YaBozn-7VAyLN3ARW4FOAqpYGVd-zQBbNjPWLFFLy972eTpQSz03vRf-os7G5ZzkoQj2USaes8Y-4-CTgc1n2zre-daszQBnJH8O-dG-WhA5zAk2Oy6Najn-mGSvEhAedi3uaq3kH3Hu5-5aVbayGhQmTdpm6vyAt-5Il00dyoK7_ivLQA",
            "types": [
                "bar",
                "restaurant",
                "food",
                "point_of_interest",
                "establishment"
            ]
        },
        {
            "formatted_address": "1979 W 25th St, Cleveland, OH 44113, USA",
            "geometry": {
                "location": {
                    "lat": 41.484647,
                    "lng": -81.70274599999999
                },
                "viewport": {
                    "northeast": {
                        "lat": 41.48582952989272,
                        "lng": -81.70176507010727
                    },
                    "southwest": {
                        "lat": 41.48312987010727,
                        "lng": -81.70446472989272
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
            "id": "85f5fb1bfa6dcd4edca60898f56316ba2c36cdee",
            "name": "West Side Market Café",
            "opening_hours": {
                "open_now": true,
                "weekday_text": []
            },
            "photos": [
                {
                    "height": 1333,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/111155582223312507105/photos\">West Side Market Cafe</a>"
                    ],
                    "photo_reference": "CmRaAAAA-jVJ2fgM7dU8U-g_cFf11IDiTaOxRyQyQ0Pe3-uDVulAXaQny4E3nBYFJdv2J39T72AK-yNN5UAlhk6_s1qngIFIEjYpdbnO57A4_u9rLiZA2VMHu4ctEPN1uaPwgUpxEhDe12zKvcuhzPq6qsRJNDO7GhRi43YhxaFF0U0cB-1oP4Dec2s5dg",
                    "width": 2000
                }
            ],
            "place_id": "ChIJh2hsmG3wMIgR5_f3MF0_CMI",
            "price_level": 2,
            "rating": 4.4,
            "reference": "CmRbAAAAPoIqsliyGazEPk0mTrvPLfVORPeMnbxzfF2vBKtvbLn4tLZGwxcKUBq-b94xu22LbIOFM7VSTJfEX7Wju8LXr55CK7ZyWGwkZ9MbOSCpIh-ioO1bTeXfs8vT-fup6_n7EhCTQK1_XAF3eDLGo8y5qTCwGhRn3dyLwjIQo-YVRgIVux8NPwd8Rg",
            "types": [
                "restaurant",
                "cafe",
                "food",
                "point_of_interest",
                "establishment"
            ]
        },
        {
            "formatted_address": "2621 W 14th St, Cleveland, OH 44113, USA",
            "geometry": {
                "location": {
                    "lat": 41.476519,
                    "lng": -81.69099299999999
                },
                "viewport": {
                    "northeast": {
                        "lat": 41.47786647989272,
                        "lng": -81.68979767010727
                    },
                    "southwest": {
                        "lat": 41.47516682010728,
                        "lng": -81.69249732989272
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
            "id": "1ad84de8bd81d4c8b7185850ee55ae3670c5dd93",
            "name": "Grumpy's Cafe",
            "opening_hours": {
                "open_now": true,
                "weekday_text": []
            },
            "photos": [
                {
                    "height": 2448,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/113451366804224281739/photos\">Grumpy&#39;s Cafe</a>"
                    ],
                    "photo_reference": "CmRaAAAA9sEHqxQVcOmGz0CNAk0ZX4vqavngm5GJ9_W9y_3pxtHD-Wt1Fbr96tNlmmjYAF4bsNkS0hds1GjAf-Px2-GmXdYt3syQEudO27RWmJR_wCNwMc0_i5-hJhuAdd6Ar4YdEhDWXgljyk-sNT6x7Be5mNdVGhSNOx-ERlkOclYOG5PyJiolxhrgpw",
                    "width": 3264
                }
            ],
            "place_id": "ChIJxacMoKD6MIgRacevLqOqtu4",
            "price_level": 2,
            "rating": 4.5,
            "reference": "CmRbAAAALW-EE6ID-8qcw6TtGck5ApbWQjZBIA40LlSMBHW-DBRs-7RPsBElxRjC_c1BCNoUEgi8tF4YLrYdKfP_-CP5ca2f9RU7M1z9DDzLczUwr9-eNgZB8e5WHEteRRmnk9C-EhDbX1S1zpJEXV9W5tFyir8CGhQ1tyNaFGJIBOYsHxgw1wKHo-SLpQ",
            "types": [
                "restaurant",
                "food",
                "point_of_interest",
                "establishment"
            ]
        },
        {
            "formatted_address": "2038 E 4th St, Cleveland, OH 44115, USA",
            "geometry": {
                "location": {
                    "lat": 41.49891299999999,
                    "lng": -81.69018299999999
                },
                "viewport": {
                    "northeast": {
                        "lat": 41.50026282989271,
                        "lng": -81.68883317010727
                    },
                    "southwest": {
                        "lat": 41.49756317010727,
                        "lng": -81.69153282989272
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
            "id": "cd38b093dce247d7856e813ef357be7fd91cc35d",
            "name": "The Greenhouse Tavern",
            "opening_hours": {
                "open_now": true,
                "weekday_text": []
            },
            "photos": [
                {
                    "height": 3456,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/105280704117991631879/photos\">Douglas Seese, Digital Perfect Media, LLC</a>"
                    ],
                    "photo_reference": "CmRaAAAAU3ne1ksKiN4z_TrxvkmA_u8u11edkGi8UZPBXJ9G6DUsaAMJEy-97yG31_nCIcq1-zBZssG3gJz3xoY3R8OPnhGC7l95TlJ-IokDd_prEGvgxdaGjL33e7dcL0wyHRC8EhBzN_is61dT_WydlEwQMm2YGhScV5QIDBPTaSlZgjJlg3Akh2OH-Q",
                    "width": 5184
                }
            ],
            "place_id": "ChIJjZT9FYD6MIgRL8ynx62jqhU",
            "price_level": 3,
            "rating": 4.2,
            "reference": "CmRbAAAAMabMb35zAU3dTXKHKU9XEook1Gp4AWzgEdGQatmtdu-j22rB9o8kwKgPwgm04Weu48E9WNu0s3UnsVphI0hZsPjSyg-0chVm2VsvlQ5ohib3BKek2fn5Cus4s55L1bjzEhBGtZ2dgm4TAI8aoumM7ZSpGhS1uM3osXUPHXMSmgRtSVci_jqetg",
            "types": [
                "bar",
                "restaurant",
                "food",
                "point_of_interest",
                "establishment"
            ]
        },
        {
            "formatted_address": "11401 Bellflower Rd, Cleveland, OH 44106, USA",
            "geometry": {
                "location": {
                    "lat": 41.5117062,
                    "lng": -81.60640119999999
                },
                "viewport": {
                    "northeast": {
                        "lat": 41.51305602989272,
                        "lng": -81.60505137010726
                    },
                    "southwest": {
                        "lat": 41.51035637010727,
                        "lng": -81.60775102989271
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
            "id": "65b39588e68771da3e96f307c2d3c7c294e89fb8",
            "name": "L'Albatros",
            "opening_hours": {
                "open_now": true,
                "weekday_text": []
            },
            "photos": [
                {
                    "height": 1080,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/102805857616073865382/photos\">A Google User</a>"
                    ],
                    "photo_reference": "CmRaAAAAE4F8cQp8zM9ild2RqkVACwd4QyEaKU_OZK1VK0tYde2PvMTO0nQKThKzzvkG_waX80UcAI86V01e87rSyi6i9e-mcMuFiDGlgJBEZpn7h9rYkSdSkcenjfxwqjkJid5fEhDI6HhMlhPMj4-JXR4Y9fW3GhSMdlhaPjgcWPcjBKGSZSO_H4jz0A",
                    "width": 1920
                }
            ],
            "place_id": "ChIJFa2X9or7MIgRggAEZDIKT50",
            "price_level": 3,
            "rating": 4.5,
            "reference": "CmRbAAAAOCnsXS5N5Hcc3WdtUqFkvRvXL6GNCZHIc0f4q28R0RrfJ4PmqMQnH-inenM93KoVOWGfpY3TfIrqYmYvBBo32L5kKC9NXXdDhLn_PAuzr4ZBzRbZD73QvA0SH15ATfpqEhCIiaE61J1a43zH8hH0EngbGhTGhze_NYfvBhFdJe_uhW0ffK5y7Q",
            "types": [
                "bar",
                "restaurant",
                "food",
                "point_of_interest",
                "establishment"
            ]
        }
    ],
    "status": "OK"
}