@model List<Capstone.Web.Models.ItineraryModel>
@{
	ViewBag.Title = "Manage";
}

<h2 class="titles">@ViewBag.Title.</h2>

<p>@ViewBag.StatusMessage</p>
<div>
	<h4>Change your account settings</h4>
	<hr />
	<a class="links" href="@Url.Action("ChangePassword")">Change Password</a>
	<a class="links" href="@Url.Action("Search", "Home")">Search Landmarks</a>	

    
</div>


